/* Things to do:
1. add transition animations for open and close 
2. style buttons
*/


body {
    /* display: flex;
    background-color: orange;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; */
    background-color: #f5deb3;
    font-family: Arial;
}

.main-content{
    display: grid;
    background-color: wheat;
    height: 100vh;
    grid-template-columns: 95vw;
    grid-template-rows: 10vh 10vh 70vh;
    justify-items: center;
    justify-content: center;

}

.header{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Table */

table {
    /* table-layout: fixed; */
    width: 100%;
    border-collapse: collapse;
    height: 50px;
}

tr {
    border-bottom: 1pt solid black;
}

th{
    text-align: left;
    background-color: lightcyan;
    border-collapse: collapse;
}

td {
    /* line-height: 50px; */
    border-collapse: collapse;
}

.delete:hover {
    background-color: #FF5733;
}

.delete:active {
    background-color: #FF9079;
}

.read-status:hover {
    background-color: #FFC433
}

.read-status:active {
    background-color: wheat
}

/* Table */

/* pop up stuff */

#overlay {
    position: fixed;
    top: 0;
    left: 0; 
    background: #999;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 100;
}

#popup {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #F9DFAF;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    /*Half the value of width to center div*/
    margin-top: -250px;
    /*Half the value of height to center div*/
    z-index: 200;
}

.popupcontent{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 
}

.book-input{
    display:flex;
    width:100%;
}

.right-side{
    width: 50%;
    /* background-color: yellow; */
    float:right;
    /* padding-left: 2%; */
    /* figure out why float isn't working */
    margin-top: 10px;
}

.left-side{
    width:50%;
    float:left;
    padding-left: 2%;
    margin-top: 10px;
}

input, label {
    display: block;
}

.pop-up-buttons{
    display: flex;
    flex-direction: column;
    /* background-color: orange; */
    width:50%;
    justify-content: center;

}


.submit-book {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: .375em;
    box-shadow: none;
    box-sizing: border-box;
    color: #363636;
    cursor: pointer;
    display: inline-flex;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    height: 2.5em;
    justify-content: center;
    line-height: 1.5;
    padding: calc(.5em - 1px) 1em;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.submit-book:active {
    border-color: #4a4a4a;
    outline: 0;
}

.submit-book:focus {
    border-color: #485fc7;
    outline: 0;
}

.submit-book:hover {
    border-color: #b5b5b5;
}

.submit-book:focus:not(:active) {
    box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}

.close_button {
    align-items: center;
    appearance: none;
    background-color: #FF7355;
    border: 1px solid #dbdbdb;
    border-radius: .375em;
    box-shadow: none;
    box-sizing: border-box;
    color: #363636;
    cursor: pointer;
    display: inline-flex;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    height: 2.5em;
    justify-content: center;
    line-height: 1.5;
    padding: calc(.5em - 1px) 1em;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    margin-top: 10px;
}

.close_button:active {
    border-color: #4a4a4a;
    outline: 0;
}

.close_button:focus {
    border-color: #485fc7;
    outline: 0;
}

.close_button:hover {
    border-color: #b5b5b5;
}

.close_button:focus:not(:active) {
    box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}



/* Add book button */

.add-book {
    width: 30vw;
    height: 8vh;
}

.add-book {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.add-book:hover {
    background-color: #fff;
}

.add-book:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .add-book {
        min-width: 120px;
        padding: 0 25px;
    }
}