/* Things to do:
1. add transition animations for open and close 
2. style buttons
*/


body {
    /* display: flex;
    background-color: orange;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; */
    background-color: orange;
}

.main-content{
    display: grid;
    background-color: orange;
    height: 100vh;
    grid-template-columns: 95vw;
    grid-template-rows: 20vh 10vh 70vh;
    justify-items: center;
    justify-content: center;

}

.header{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.add-book{
    width:30vw;
    height: 8vh;
}

/* .book-table{
    display:flex;
    width:100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
} */

table {
    border: 1px solid;
    table-layout: fixed;
    width: 100%
}

table th{
    border: 1px solid;
    width: 100%;
    background-color: lightcyan;
}

table td{
    border: 1px solid;
    width: 100%
}

/* pop up stuff */

#overlay {
    position: fixed;
    top: 0;
    left: 0; 
    background: #999;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 100;
}

#popup {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    /*Half the value of width to center div*/
    margin-top: -250px;
    /*Half the value of height to center div*/
    z-index: 200;
}

.popupcontent{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 
}

.book-input{
    display:flex;
    width:100%;
}

.right-side{
    width: 50%;
    background-color: yellow;
    float:right;
    /* padding-left: 2%; */
    /* figure out why float isn't working */
}

.left-side{
    width:50%;
    float:left;
    padding-left: 2%;
}

input, label {
    display: block;
}